body{
    font-family: 'Comic Sans MS';
    background-color: rgba(128, 128, 128, 0.689);
    border: 0ch;
    border-color: black;
}
.infomation about volcanoes{
    font-family: 'Comic Sans MS'; 
}
.mb-3{
    font-family: 'Comic Sans MS';
}
a{
    font-family: 'Comic Sans MS';
}
#mainNav{
    background-color: rgba(128, 128, 128, 0.623);
}